<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    {% from 'macros.html' import set_styles %}
    {{ set_styles() }}
</head>
<body>
    <h1>Вітаю на моєму першому сайті!</h1>
    <p><a href="{{ url_for('page1') }}">Про фласк></a></p>
    <p><a href="{{ url_for('page2') }}">Мої соц мережі></a></p>
    <p><a href="{{ url_for('add_user') }}">Зареєструватися</a></p>
    <p><a href="{{ url_for('users') }}">Користувачі</a></p>
</body>
</html>
