<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    {% from 'macros.html' import set_styles %}
    {{ set_styles() }}
</head>
<body>
    <h1>Список користувачів:</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('index') }}">На головну сторінку.</a></p>
</body>
</html>
